<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username" placeholder="Username" required />
      <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)">
        <small class="error">Username is required.</small>
      </div>
    </div>

    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" placeholder="Password" required />
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
        <small class="error">Password is required.</small>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
